<div>
  <h3 style="text-align: left">雷达信息</h3>
</div>

<table class="ui padded celled table">
  <thead>
  <tr><th>Obj_ID</th>
    <th>Obj_DistLong/目标纵向距离</th>
    <th>Obj_DistLat/目标横向距离</th>
    <th>Obj_VrelLong/目标纵向速度</th>
    <th>Obj_VrelLat/目标横向速度</th>
    <th>Obj_DynProp/目标运动状态</th>
  </tr></thead>
  <!--<tbody>
  <tr>
    <td>
      <h4 class="ui image header">
        <img  class="ui mini rounded image">
        <div class="content">
          01
         &lt;!&ndash; <div class="sub header">可预测的所有类别&ndash;&gt;
        </div>
      </h4></td>
    <td  class="negative">
      92.88%
    </td>
  </tr>
  <tr>
    <td>
      <h4 class="ui image header">
        <div class="content">
          小汽车
          <div class="sub header">行驶车辆
          </div>
        </div>
      </h4></td>
    <td class="positive">
      94.5%
    </td>
  </tr>
  <tr>
    <td>
      <h4 class="ui image header">
        <div class="content">
          行人
          <div class="sub header">行人
          </div>
        </div>
      </h4></td>
    <td>
      72.8%
    </td>
  </tr>
  <tr>
    <td>
      <h4 class="ui image header">
        <div class="content">
          Bus
          <div class="sub header">车辆
          </div>
        </div>
      </h4></td>
    <td>
      55.3%
    </td>
  </tr>
  </tbody>-->
</table>
